#wrapper {
	width: 1000px;
	margin: 0 auto;
}
.header {
	height: 120px;
	background-color: #3a5795; 
	border-bottom:2px solid #2E4677;
	box-shadow: 1px 3px 5px #888888;
}

.main {
	width: 800px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Verdana, "Comic Sans ms";
	font-size: 18px;
	
}
.logo {
	padding: 10px;
	width:auto;

}

.button {
	color: white;
	background: #67ae55;	
   	border-color: #3b6e22 #3b6e22 #2c5115;
   	border-radius: 5px;
   	text-align: center;
   	height: 40px;
   	width: 90px;
   	margin-top: 40px;
   	margin-left: 220px;
}

.formset_left {
  height: 250px;
  width: 320px;
  float: left;
  margin-top: 120px;
  position: relative;
  padding: 0 10px 0 5px;
  border-bottom: solid #CCCCCC;
}

.formset_right {
  height: 250px;
  width: 380px;
  float: left;
  margin-top: 120px;
  position: relative;
  padding: 0 10px 0 40px;
  border-left: solid #CCCCCC;
  border-bottom: solid #CCCCCC;
}

label {
	text-align: center;
	padding: 25px 0 25px 0;
}

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  border-radius: 4px; 
}